<main class="flex flex-col items-center text-center py-16 bg-gray-50">
    <h1 class="text-4xl font-bold text-gray-800 mb-6">My HR is <span class="text-blue-500">free, FOREVER</span> with <span class="text-blue-500">Unlimited</span> Employee Management.</h1>
    <p class="text-lg text-gray-600 mb-8">
      I am an <span class="text-blue-600">HR Manager</span> for my organization. What are the benefits of using <span class="text-blue-600">multi-lingual</span> My HR <span class="text-blue-500">FREE</span>
    </p>
    <ul class="text-lg text-gray-600 space-y-2">
      <li>Online HR & Payroll,</li>
      <li>Expense Claim,</li>
      <li>Leave Management System,</li>
      <li>Time Clock & Attendance,</li>
      <li>Incident Management,</li>
      <li>Document Workflow & Sharing</li>
    </ul>
    <div class="mt-10 flex space-x-4">
      <button class="px-6 py-2 bg-gray-300 text-gray-700 rounded">LEARN MORE</button>
      <button class="px-6 py-2 bg-blue-500 text-white rounded"><a routerLink="/auth/signup">SIGN UP (FREE)</a></button>
    </div>
    <div class="mt-8 flex space-x-4">
      <img src="/assets/images/images2.png" alt="Google Play" class="h-12">
      <img src="/assets/images/images3.png" alt="App Store" class="h-12">
    </div>
  </main>
                      