<header class="bg-white py-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-blue-800 text-xl font-bold">HR.my</div>
      <nav class="space-x-6">
        <a [routerLink]="['auth/signin']" class="text-blue-600">LOGIN</a>
        <a [routerLink]="['auth/signup']" class="text-blue-600">SIGN UP (FREE)</a>
        <a [routerLink]="['auth/signin']" class="text-blue-600">TESTIMONIAL</a>
        <a [routerLink]="['auth/signin']" class="text-blue-600">USER GUIDE</a>
      </nav>
    </div>
  </header>
  