<!-- Main Layout Container -->
<div class="flex flex-col h-screen">
  <!-- Header Component -->
  <app-header 
    (sidebarToggle)="toggleSidebar()" 
    (userSidebarToggle)="toggleUserSidebar()">
  </app-header>

  <!-- Main Content with Sidebar -->
  <div class="flex flex-1">
    <!-- Left Sidebar Component -->
    <app-asidebar 
      [isSidebarOpen]="isSidebarOpen" 
      (sidebarClose)="closeSidebar()">
    </app-asidebar>

    <!-- Main Content Area -->
    <main
      [class.ml-72]="isSidebarOpen" 
      [class.ml-0]="!isSidebarOpen" 
      class="flex-1 p-6 bg-gray-50 transition-margin duration-300"
    >
      <router-outlet></router-outlet>
       <!-- <app-main></app-main> -->
    </main>

    <!-- Right Sidebar Component -->
    <app-rightsidebar 
      [isVisible]="isUserSidebarOpen" 
      (close)="closeUserSidebar()">
    </app-rightsidebar>
  </div>
</div>
